.contenedor-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #1C3B6B;
    margin: -24px;
    padding: 50px;
  }
  
  .contenedor-contenido {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #1C3B6B;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
  
  .contenedor-texto {
    grid-column: span 10;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .contenedor-boton {
    grid-column: span 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .contenedor-datagrid {
    grid-column: span 10;
    margin-top: 10px;
  }
  
  .boton-container {
    grid-column: span 16;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
  }
  .datagrid{
    background-color: white;
  }