.formato-crear-grupo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f4f4f4;
  }
  
  .label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .map-image {
    height: 800px;
    height: auto;
    width: 800px;
  }