/* styles/editarGrupo.css */
.outer-box {
  background-color: #1c3b6b; /* Color de fondo para toda la aplicación */
  min-height: 100vh;
  margin: -24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-box {
  flex: 1;
  padding: 30px;
}

.filled-input {
  background-color: rgb(128, 125, 125) !important;
  padding: 0px;
  border: 1px solid #ccc;
  color: black;
}

.data-grid-container {
  background-color: white; /* Fondo blanco para el DataGrid */
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.label {
  color: white;
  font-weight: bold;
}
