.MuiTableCell-root {
  border-bottom: none !important;
}

.MuiTable-root {
  border: 1px solid #ddd;
}

.MuiTableHead-root {
  background-color: #f5f5f5;
}

.MuiTableRow-root:hover {
  background-color: #f5f5f5;
}

.MuiTableCell-head {
  font-weight: bold;
  color: #333;
}

.MuiTableCell-body {
  color: #333;
}

.boton-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.boton-general {
  margin: 0 5px;
}

.contenedor-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #1C3B6B;  
  padding: -20px;
}
